* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.history-container {
  width: 100%;
  min-height: 100vh;
  padding: 30px;
  background: #f1f5f9;
  font-family: Arial, Helvetica, sans-serif;
}

/* HEADER */

.page-header {
  margin-bottom: 30px;
}

.page-header h1 {
  font-size: 32px;
  color: #0f172a;
  margin-bottom: 5px;
}

.page-header p {
  color: #64748b;
}

/* SEARCH */

.search-section {
  margin-bottom: 30px;
}

.search-box {
  background: white;
  border-radius: 14px;
  padding: 14px 18px;
  display: flex;
  align-items: center;
  gap: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.06);
}

.search-box i {
  color: #64748b;
}

.search-box input {
  width: 100%;
  border: none;
  outline: none;
  font-size: 14px;
}

/* HISTORY */

.history-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

/* CARD */

.history-card {
  background: white;
  border-radius: 24px;
  padding: 24px;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.08);
  transition: 0.3s;
}

.history-card:hover {
  transform: translateY(-4px);
}

.history-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.doctor-info {
  display: flex;
  align-items: center;
  gap: 14px;
}

.doctor-icon {
  width: 65px;
  height: 65px;
  border-radius: 18px;
  background: linear-gradient(135deg, #2563eb, #3b82f6);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
}

.doctor-info h2 {
  font-size: 20px;
  color: #0f172a;
  margin-bottom: 4px;
}

.doctor-info span {
  color: #64748b;
  font-size: 14px;
}

/* STATUS */

.status {
  padding: 8px 15px;
  border-radius: 20px;
  font-size: 12px;
  font-weight: bold;
}

.completed {
  background: #dcfce7;
  color: #15803d;
}

/* DETAILS */

.history-details {
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin-bottom: 25px;
}

.detail {
  background: #f8fafc;
  padding: 14px;
  border-radius: 14px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.detail strong {
  color: #0f172a;
}

.detail span {
  color: #475569;
  text-align: right;
}

/* ACTION */

.history-actions {
  display: flex;
  justify-content: flex-end;
}

.view-btn {
  border: none;
  background: #2563eb;
  color: white;
  padding: 13px 22px;
  border-radius: 12px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

.view-btn:hover {
  background: #1d4ed8;
}

/* RESPONSIVO */

@media (max-width: 768px) {

  .history-container {
    padding: 20px;
  }

  .history-top {
    flex-direction: column;
    align-items: flex-start;
    gap: 18px;
  }

  .detail {
    flex-direction: column;
    align-items: flex-start;
  }

  .detail span {
    text-align: left;
  }

  .history-actions {
    justify-content: stretch;
  }

  .view-btn {
    width: 100%;
  }

}